body {
    background-color: #EFF4FA;
}

table
{
    border-collapse: collapse;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;